<h3>評価を入力</h3>

<%= render 'users/profile_box', user: @eva.user %>
<%= render 'requests/request_content', request: @eva.request %>

<%= form_with model: @eva, local: true do |f| %>
<%= render 'layouts/error_messages', model: f.object %>
  <!-- 評価 -->
  <div class="" id="star">
    <%= f.label :rate,'評価 ', class:'' %>
    <%= f.hidden_field :rate, id: :review_star %>
  </div>

  <!-- 評価javascript -->
  <script>
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'evaluation[rate]',
    half: true,
  });
  </script>

  <%= f.text_area :comment, size: '80x10', placeholder: "評価メッセージを入力" %>
  <%= f.hidden_field :status, value: :done %>
  <%= f.submit '評価を確定する', class: 'btn btn-primary' %>
 <% end %>