<div class="profile_box">
	<div class="row">
		<div class="col-4">
			<%= link_to user_path(user) do %>
				<%= attachment_image_tag user, :profile_image, fallback: 'no_image.jpg', size:'100x100', style: 'border-radius: 50%;' %>
			<% end %>
		</div>
		<div class="col-8">
			<%= link_to user_path(user) do %>
				<h4><%= user.name %></h4>
			<% end %>
			<div>
				<span style="margin-right: 1em;">
					<label>実績：</label>
					<%= user.evaluations.count %>件
				</span>
				<span>
					<label>評価：</label>
					<%= (user.evaluations.where(status: :done).sum(:rate) / user.evaluations.where(status: :done).count).round(1) %>
				</span>
			</div>
			<div>
				<label>希望報酬：</label>
				<% unless user.desired_reward.blank? %>
					¥ <%= user.desired_reward.to_s(:delimited) + "円" %> 〜
				<% else %>
					設定されていません
				<% end %>
			</div>
		</div>
	</div>
	<div>
		<div class="profile_box_bottom">
			<label>使えるスキル：</label>
			<% user.possible.each do |p| %>
				<%= p.skill.item %> /
			<% end %>
		</div>
		<div class="profile_box_bottom">
			<label>得意なスキル：</label>
			<% user.good.each do |g| %>
				<%= g.skill.item %> /
			<% end %>
		</div>
		<div class="profile_box_bottom">
			<label>ひとこと：</label>
			<%= user.strong_point %>
		</div>

		<% if user_signed_in? %>
			<% if user == current_user %>
				<%= link_to 'プロフィールを編集する', edit_user_path(user), class: 'btn btn-info' %>
			<% else %>
				<% if current_user.following?(user) %>
					<%= link_to 'フォローを解除する', relationship_path(user), method: :delete, class: 'btn btn-primary' %>
				<% else %>
					<%= link_to 'フォローする', relationships_path(id: user), method: :post, class: 'btn btn-primary' %>
				<% end %>
			<% end %>
			<% if params[:version] == 'entry' %>
				<%= link_to '参加可否へ', entry_path(Entry.find_by(user_id: user.id, request_id: request.id)), class: 'btn btn-danger' %>
			<% end %>
		<% end %>
	</div>
</div>