<%= form_with model: @user, local: true do |f| %>
<%= render 'layouts/error_messages', model: f.object %>
<table class="table">
	<tr>
		<th><%= f.label :name %></th>
		<td><%= f.text_field :name, autofocus: true, placeholder: "2〜20文字" %></td>
	</tr>
	<tr>
		<th><%= f.label :email %></th>
		<td><%= f.email_field :email %></td>
	</tr>
	<tr>
		<th><%= f.label :desired_reward %></th>
		<td><%= f.text_field :desired_reward %></td>
	</tr>
	<tr>
		<th><%= f.label :strong_point %></th>
		<td><%= f.text_field :strong_point, placeholder: "〜30文字" %></td>
	</tr>
	<tr>
		<th><%= f.label :introduction %></th>
		<td><%= f.text_area :introduction %></td>
	</tr>
	<tr>
		<th><%= f.label :profile_image %></th>
		<td><%= f.attachment_field :profile_image %></td>
	</tr>
	<tr>
		<th><%= f.label '使えるスキル' %></th>
		<td>
			<% Skill.all.each do |s| %>
				<% if SkillSet.exists?(possible_id: @user.id, skill_id: s.id) %>
					<%= check_box_tag 'possible[skill_ids][]', s.id, checked = true, :id => "possible_skill_ids_#{s.id}" %>
				<% else %>
					<%= check_box_tag 'possible[skill_ids][]', s.id, checked = false, :id => "possible_skill_ids_#{s.id}" %>
				<% end %>
				<%= f.label s.item %>
			<% end %>
		</td>
	</tr>
	<tr>
		<th><%= f.label '得意なスキル' %></th>
		<td>
			<% Skill.all.each do |s| %>
				<% if SkillSet.exists?(good_id: @user.id, skill_id: s.id) %>
					<%= check_box_tag 'good[skill_ids][]', s.id, checked = true, :id => "good_skill_ids_#{s.id}" %>
				<% else %>
					<%= check_box_tag 'good[skill_ids][]', s.id, checked = false, :id => "good_skill_ids_#{s.id}" %>
				<% end %>
				<%= f.label s.item %>
			<% end %>
		</td>
	</tr>
</table>
<%= f.submit %>
<% end %>