<h1>ようこそ「Webee」へ</h1>
<p>
	このサイトはWebサイト作成の依頼・受注ができるWebプログラマーのためのマッチングサイトです。
</p>

<% if user_signed_in? %>
	<% if current_user.scout_requests.exists? %>
		<%= link_to 'スカウトが届いています', requests_path(id: current_user.id, version: 'scout') %>
	<% end %>
<% end %>

<h3 class='top_contents'>依頼をさがす</h3>
	<%= link_to 'すべての依頼', requests_path %>
	<%= link_to '募集中の依頼', requests_path(version: 'wanted') %>
<h5>カテゴリからさがす</h5>
	<% RequestGenre.all.each do |genre| %>
		<%= link_to genre.category, requests_path(id: genre.id, version: 'category') %>
		<% if genre.id % 3 == 0 %>
			<br>
		<% end %>
	<% end %>
<h5>タイトルからさがす</h5>
	<%= form_with(url: requests_path, local: true, method: :get) do |f| %>
		<%= f.text_field :keyword, placeholder: "キーワードを入力" %>
		<%= f.hidden_field :version, :value => 'search' %>
		<%= f.submit "検索" %>
	<% end %>

<h3 class='top_contents'>ユーザーをさがす</h3>
	<%= link_to 'ユーザー一覧へ', users_path %>