<h2>この内容で依頼を投稿します</h2>

<%= form_with model: @request, local: true do |f| %>
<table class="table">
	<tr>
		<th style="width: 20%;"><%= f.label 'カテゴリー' %></th>
		<td><%= @request.request_genre.category %></td>
		<%= f.hidden_field :request_genre_id, :value => @request.request_genre.id %>
	</tr>
	<tr>
		<th><%= f.label 'タイトル' %></th>
		<td><%= @request.title %></td>
		<%= f.hidden_field :title, :value => @request.title %>
	</tr>
	<tr>
		<th><%= f.label '依頼詳細' %></th>
		<td><%= simple_format(@request.content) %></td>
		<%= f.hidden_field :content, :value => @request.content %>
	</tr>
	<tr>
		<th><%= f.label '必要なスキル' %></th>
		<td>
			<% @skills.each do |s|%>
				<%= s.item + " / " %>
			<% end %>
		</td>
		<%= hidden_field_tag :necessary, params[:necessary][:skill_ids] %>
	</tr>
	<tr>
		<th><%= f.label '報酬' %></th>
		<td>
			<% if @request.reward.present? %>
				<%= @request.reward.to_s(:delimited) + "円 / 人" %>
				<%= f.hidden_field :reward, :value => @request.reward %>
			<% end %>
		</td>
	</tr>
	<tr>
		<th><%= f.label '募集締切日' %></th>
		<td>
			<% if @request.recruiment_end.present? %>
				<%= @request.recruiment_end.strftime('%Y-%m-%d %H:%M') %>
				<%= f.hidden_field :recruiment_end, :value => @request.recruiment_end %>
			<% end %>
		</td>
	</tr>
	<tr>
		<th><%= f.label '希望納期' %></th>
		<td>
			<% if @request.delivery_date.present? %>
				<%= @request.delivery_date.strftime('%Y-%m-%d %H:%M') %>
				<%= f.hidden_field :delivery_date, :value => @request.delivery_date %>
			<% end %>
		</td>
	</tr>
	<tr>
		<th><%= f.label '募集人数' %></th>
		<td>
			<% if @request.recruiment_max.present? %>
				<%= @request.recruiment_max %> 人
				<%= f.hidden_field :recruiment_max, :value => @request.recruiment_max %>
			<% end %>
		</td>
	</tr>
</table>
<%= f.submit '投稿を確定する', class: 'btn btn-primary' %>
<% end %>