<%= form_with model: @request, local: true do |f| %>
<%= render 'layouts/error_messages', model: f.object %>
<table class="table">
	<tr>
		<th><%= f.label :category %></th>
		<td>
			<% RequestGenre.all.each do |genre| %>
				<%= f.radio_button :request_genre_id, genre.id %>
				<%= f.label genre.category %>
			<% end %>
		</td>
	</tr>
	<tr>
		<th><%= f.label :title %></th>
		<td><%= f.text_field :title, size: '100' %></td>
	</tr>
	<tr>
		<th><%= f.label :content %></th>
		<td><%= f.text_area :content, size: '100x10' %></td>
	</tr>
	<tr>
		<th><%= f.label :necessary %></th>
		<td>
			<% Skill.all.each do |skill| %>
				<% if SkillSet.exists?(necessary_id: @request.id, skill_id: skill.id) %>
					<%= check_box_tag 'necessary[skill_ids][]', skill.id, checked = true, :id => "necessary_skill_ids_#{skill.id}" %>
				<% else %>
					<%= check_box_tag 'necessary[skill_ids][]', skill.id, checked = false, :id => "necessary_skill_ids_#{skill.id}" %>
				<% end %>
				<%= f.label skill.item %>
			<% end %>
		</td>
	</tr>
	<tr>
		<th><%= f.label :reward %></th>
		<td><%= @request.reward.to_s(:delimited) + "円 / 人" %></td>
	</tr>
	<tr>
		<th><%= f.label :recruiment_end %></th>
		<td><%= f.datetime_field :recruiment_end %></td>
	</tr>
	<tr>
		<th><%= f.label :delivery_date %></th>
		<td><%= f.datetime_field :delivery_date %></td>
	</tr>
	<tr>
		<th><%= f.label :recruiment_max %></th>
		<td><%= f.number_field :recruiment_max %></td>
	</tr>
</table>
<%= f.submit %>
<% end %>