<!-- head -->
<div>
	<% if params[:version] == 'entry' %>
		<h3>応募している依頼</h3>
		<h5><%= @user.name %></h5>
	<% elsif params[:version] == 'scout' %>
		<h3>スカウトされている依頼</h3>
		<h5><%= @user.name %></h5>
	<% elsif params[:version] == 'participant' %>
		<h3>参加している依頼</h3>
		<h5><%= @user.name %></h5>
	<% elsif params[:version] == 'favorite' %>
		<h3>お気に入りの依頼</h3>
		<h5><%= current_user.name %></h5>
	<% elsif params[:version] == 'wanted' %>
		<h3>募集中の依頼</h3>
	<% elsif params[:version] == 'category' %>
		<h3><%= @genre.category %></h3>
	<% elsif params[:version] == 'search' %>
		<h3>"<%= params[:keyword] %>"にヒットした依頼</h3>
	<% else %>
		<h3>すべての依頼</h3>
	<% end %>
	<%= @requests.count %>件の依頼が見つかりました
</div>

<!-- 依頼一覧 -->
<hr>
<% @requests.each do |request| %>
	<%= render 'request_index', request: request %>
<% end %>