<div style="width: 80%; margin: 0 auto;">

	<!-- ステータス更新ボタン -->
	<% if @request.user == current_user %>
		<% if @request.status == 'wanted' %>
			<%= link_to '依頼を編集する', edit_request_path(@request), class: 'btn btn-sm btn-info' %>
			<%= link_to '募集を締め切る', request_path(id: @request, status: "progress"), method: :patch, class: 'btn btn-sm btn-primary' %>
			<%= link_to '依頼を取り下げる', request_path(id: @request, status: "cancel"), method: :patch, class: 'btn btn-sm btn-danger' %>
		<% elsif @request.status == 'progress' %>
			<%= link_to '依頼を完了する', request_path(id: @request, status: "completed"), method: :patch, class: 'btn btn-sm btn-success' %>
		<% end %>
	<% end %>
	<!-- 依頼詳細 -->
	<%= render 'request_content', request: @request %>
	<!-- リンク -->
	<% if @request.wanted? %>
		<%= link_to '応募者一覧へ', users_path(id: @request, version: 'entry'), class: 'btn btn-primary' %>
		<%= link_to 'スカウト中のユーザー一覧へ', users_path(id: @request, version: 'scout'), class: 'btn btn-primary' %>
	<% end %>
	<% if @request.wanted? || @request.progress? %>
		<%= link_to '参加者一覧へ', users_path(id: @request, version: 'participant'), class: 'btn btn-primary' %>
	<% elsif @request.completed? %>
		<%= link_to '参加したユーザー一覧へ', users_path(id: @request, version: 'evaluation'), class: 'btn btn-primary' %>
	<% end %>

	<% if user_signed_in? %>
		<% if @request.wanted? %>
			<% if current_user.participants.where(request_id: params[:id]).exists? %>
				参加しています
			<% elsif current_user.scouts.where(request_id: params[:id]).exists? %>
				<%= link_to 'スカウトが届いています', scout_path(@scout), class: 'btn btn-danger' %>
			<% elsif current_user.entries.where(request_id: params[:id]).exists? %>
				<%= link_to '応募を取り消す', entry_path(@request), method: :delete, class: 'btn btn-danger' %>
			<% elsif current_user.requests.include?(@request) == false %>
				<h4>応募フォーム</h4>
				<%= form_with model: @entry, url: entries_path, method: :post, local: true do |f| %>
					<%= f.text_area :message, size: '80x10', placeholder: "応募メッセージを入力" %>
					<%= f.hidden_field :request_id, :value => params[:id] %>
					<%= f.submit '応募する' %>
				<% end %>
			<% end %>
		<% end %>
	<% end %>

</div>