<h3>スカウトするユーザー</h3>

<%= render 'users/profile_box', user: @user %>

<h3>スカウトする依頼</h3>
<div>
	<%= form_with model: @scout, local: true do |f| %>
		<% current_user.requests.where(status: 'wanted').each do |request| %>
			<% if Scout.where(["user_id = ? and request_id = ?", @user.id, request.id]).exists? %>
				<div>
					<%= f.label request.title %>
					<%= "[すでにスカウトしています]" %>
				</div>
			<% elsif Entry.where(["user_id = ? and request_id = ?", @user.id, request.id]).exists? %>
				<div>
					<%= f.label request.title %>
					<%= "[すでに応募が届いています]" %>
				</div>
			<% elsif Participant.where(["user_id = ? and request_id = ?", @user.id, request.id]).exists? %>
				<div>
					<%= f.label request.title %>
					<%= "[すでに参加しています]" %>
				</div>
			<% else %>
				<div>
					<%= f.radio_button :request_id, request.id %>
					<%= f.label request.title %>
				</div>
				<% @active_scout = true %>
			<% end %>
		<% end %>
		<% if @active_scout == true %>
			<%= f.text_area :message, size: '80x10', placeholder: "スカウトメッセージを入力" %>
			<%= f.hidden_field :user_id, :value => @user.id %>
			<%= f.submit 'スカウトを送る', class: 'btn btn-sm btn-primary' %>
		<% else %>
			<div class="text-center h5">スカウトできる依頼がありません</div>
		<% end %>
	<% end %>
</div>