<h3>スカウトするユーザー</h3>

<%= render 'users/profile_box', user: @user %>

<h3>スカウトする依頼</h3>
<div>
	<%= form_with model: @scout, local: true do |f| %>
		<% current_user.requests.where(status: 'wanted').each do |request| %>
			<div>
				<%= f.radio_button :request_id, request.id %>
				<%= f.label request.title %>
			</div>
		<% end %>
		<%= f.text_area :messsage, size: '80x10', placeholder: "スカウトメッセージを入力" %>
		<%= f.hidden_field :user_id, :value => @user.id %>
		<%= f.submit 'スカウトを送る', class: 'btn btn-sm btn-primary' %>
	<% end %>
</div>