<h3>スカウトされているユーザー</h3>
<div class="profile_box", style="width: 90%; height: 500px;">
	<%= attachment_image_tag @user, :profile_image, fallback: 'no_image.jpg', size:'200x200', style: 'border-radius: 50%;' %>
	<%= @user.name %>
</div>
<h3>スカウトしている依頼</h3>
<div>
	<h2><%= @request.title %></h2>
	<div>
		<div>
			<h3><%= @request.user.name %></h3>
			<%= @request.created_at %>
			<%= @request.recruiment_end %>
			<%= @request.delivery_date %>
		</div>
		<div>
			<label>報酬</label>
			<%= @request.reward %>
		</div>
		<div>
			<label>残り時間</label>
			<%= @request.recruiment_end - Time.now %>
		</div>
		<div>
			<label>採用人数</label>
			<%= @request.recruiment_max %>
		</div>
		<div>
			<label>お気に入り</label>

		</div>
	</div>

	<h3>求めるスキル</h3>
	<% @request.necessary.each do |s| %>
		<%= s.skill_id %>
	<% end %>

	<h3>依頼詳細</h3>
	<%= @request.content %>

</div>

<%= link_to '参加を拒否する', scouts_selection_path(id: @scout, version: 'deny'), method: :post, class: 'btn btn-danger' %>
<%= link_to '参加を許可する', scouts_selection_path(id: @scout, version: 'allow'), method: :post, class: 'btn btn-primary' %>