<h3>マイプロフィール</h3>
<%= render 'users/profile_box', user: @user %>
<h3>スカウトされている依頼</h3>
<h2><%= @request.title %></h2>
<div class="content_box">
	<div class="content_box_top">
		<span class="h3">依頼者：<%= @request.user.name %></span>
		<div class="float-right">
			<% if current_user.favorited_by?(@request) %>
				<%= link_to image_tag("star-on.png"), favorite_path(@request), method: :delete %>
			<% else %>
				<%= link_to image_tag("star-off.png"), favorites_path(id: @request), method: :post %>
			<% end %>
		</div>

		<div>
			<label>投稿日時</label>
			<%= @request.created_at.strftime('%Y-%m-%d %H:%M') %>
			<label>募集締切日時</label>
			<%= @request.recruiment_end.strftime('%Y-%m-%d %H:%M') %>
			<label>希望納期</label>
			<%= @request.delivery_date.strftime('%Y-%m-%d %H:%M') %>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class='col-3 content_box_bottom'>
				<label>ステータス</label><br>
				<% case @request.status %>
				<% when 'wanted' %>
					募集中
				<% when 'progress' %>
					進行中
				<% when 'completed' %>
					達成済み
				<% when 'cancel' %>
					取り下げ
				<% end %>
			</div>
			<div class='col-3 content_box_bottom'>
				<label>報酬</label><br>
				<%= @request.reward.to_s(:delimited) + "円 / 人" %>
			</div>
			<div class='col-3 content_box_bottom'>
				<label>募集締切日</label><br>
				<%= @sa %> 日後
			</div>
			<div class='col-3 content_box_bottom'>
				<label>参加人数</label><br>
				<%= @request.participants.count %> / <%= @request.recruiment_max %> 人
			</div>
		</div>
	</div>
</div>

<div class="h5">
	<label>求めるスキル：</label>
	<% @request.skills.each do |necessary| %>
		<%= necessary.item + " / " %>
	<% end %>
</div>

<div>
	<label class="h4">依頼詳細</label>
	<%= simple_format(@request.content) %>
</div>

<%= link_to '参加を拒否する', scouts_selection_path(id: @scout, version: 'deny'), method: :post, class: 'btn btn-danger' %>
<%= link_to '参加を許可する', scouts_selection_path(id: @scout, version: 'allow'), method: :post, class: 'btn btn-primary' %>