<h1>request_genres_index</h1>
<%= link_to '管理者トップ', admins_top_path %>
<%= link_to '依頼ジャンル一覧', request_genres_path %>
<%= link_to 'スキル一覧', skills_path %>
<%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %>

<%= form_with model: @request_genre, local: true do |f| %>
	<%= f.text_field :category %>
	<%= f.submit '保存する', class: 'btn btn-sm btn-primary' %>
<% end %>

<table>
	<thead>
		<tr>
			<th>カテゴリ</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @request_genres.each do |rg| %>
			<tr>
				<td><%= rg.category %></td>
				<td><%= link_to '削除', request_genre_path(rg), method: :delete %></td>
			</tr>
		<% end %>
	</tbody>
</table>
