<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :ニックネーム※ %><br />
    <%= f.text_field :name, autofocus: true, placeholder: '2〜20文字' %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス※ %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :希望報酬 %><br />
    <%= f.text_field :desired_reward %>
  </div>

  <div class="field">
    <%= f.label :アピールポイント %><br />
    <%= f.text_field :strong_point, placeholder: '〜30文字' %>
  </div>

  <div class="field">
    <%= f.label :自己紹介 %><br />
    <%= f.text_area :introduction, placeholder: '自己紹介を入力', style: 'width: 30em; height: 30em;' %>
  </div>

  <div class="field">
    <%= f.label :パスワード※ %><br />
    <%= f.password_field :password, placeholder: '6字以上' %>
  </div>

  <div class="field">
    <%= f.label :パスワード確認※ %><br />
    <%= f.password_field :password_confirmation, placeholder: '6字以上' %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
